
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> App Suggestion</h1>
    <h3>This email comes from <%=@user.first %>, at <%= @user.email %>:</h3>
    <h2>
      <%= @suggestion%><br>
    </h2>
    <p>
    </p>
  </body>
</html>
