<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi <%= @user.first %>,</h1>
    <h3>Thanks for registering! To confirm your registration click the URL below.</h3>
    <%= confirm_email_users_url(@user.confirm_token) %>
  </body>
</html>
