@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Merriweather");
/* line 3, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
body {
  background-color: powderblue;
  padding-left: 60px;
}

/* line 4, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
h1, h2, p {
  text-align: left;
}

/* line 7, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
h1 {
  font-family: 'Merriweather', serif;
  font-size: 56px;
  color: #219a60;
}

/* line 12, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
h2 {
  font-family: "Libre Franklin", Garamond, sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #2a2c33;
  margin: 10px 0px;
}

/* line 25, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
a {
  color: navy;
  margin-bottom: 30px;
  padding-left: 20px;
}

/* line 27, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
p {
  font-family: "Libre Franklin", Garamond, sans-serif;
  font-size: 1em;
  line-height: 1.45em;
  font-weight: 400;
  color: #2a2c33;
  margin: 10px 0px;
}

/* line 35, /Users/thedanielvogelsang/ContractWork/CarbonCollective/carbon_collective/app/assets/stylesheets/invite.scss */
.native-msg {
  margin: 10px 0px 30px 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

