<div class="new-address-header">
  <h1>Whats your home address?</h1>
</div>
<div class="new-address-form-container">
  <%= form_form @user, @address {class: 'new-address-form'} do |f| %>
  <%= f.label :address%>
  <%= f.text_field :address_line1 %>
  <%= f.submit "Start Carbon Savings!" %>
</div>
