---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4589%20Zuni%20St%20Denver%20CO&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "4589",
                       "short_name" : "4589",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Zuni Street",
                       "short_name" : "Zuni St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest",
                       "short_name" : "Northwest",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_nam[...]
[...]
